<div class="center jumbotron">
  <h1>Welcome to Eliteone Tasks Management App</h1>

  <h2>

  </h2>
  <% if logged_in? %>
    <%= link_to "Look at Projects", project_tasks_path, class: "btn btn-lg btn-info" %>
  <% else %>
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-info" %>
  <% end %>

  </div>
