<footer class="footer">
  <small>
    The <a href="http://www.eliteone.com.my/">Tasks Management System</a>
    by <a href="http://www.eliteone.com.my/">Dave Chong</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://eliteone.com.my/">Eliteone</a></li>
    </ul>
  </nav>
</footer>
